body {
    background: #CED4D8;
}

h1 {
    color: #AC6AC7;
}

h2 {
    color: rgb(255,165,0);
}

li {
    color: blue;
}

p {
    background: gold;
}

input[type="text"] {
    border: 5px dotted pink;
}

input[type="email"] {
    border: 5px dotted pink;
    background: #808080;

}

.first {
    background: #fff;
}

#important {
    border: 3px dashed #0000ff;
}

div p {
    font-size: 30px;
}

div:nth-of-type(3) p {
	background: hotpink;
}

div:nth-of-type(3) p:nth-of-type(2) {
    border: 7px solid rgb(255, 255, 255);
}

em {
    color: seashell;
    font-size: 25px;
}

:checked {
    margin-left: 40px;
}

label {
    text-transform: lowercase;
}

#important::first-letter {
    font-size: 90px;
    color: lime;
}

h1:hover {
    color: navy;
}

a:visited {
    color: silver;
}